################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WFollowBot.sln
/.vs/WFollowBot
/obj
/.vs/ProjectEvaluation
